body
{
  background-color: #7a7a7a;
  font-family: "Gill Sans", sans-serif;
}

header
{
  height: 300px;
  background-image: url("ressources/entete.png");
}

nav
{
  position: fixed;
  width: 10%;
  height: 400px;
  margin-top: 30px;
  background-color: #2A9D8F;
}

.menu li
{
  list-style: none;
  margin-top: 50px;
}

.menu a
{
  transition: 0.3s ease;
  background: #2A9D8F;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #2A9D8F;
  border-bottom: 4px solid #2A9D8F;
  padding: 20px 0;
  margin: 0 20px;
  color: black;
}

.menu a:hover
{
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 6px 0; 
}


#p_menu
{
  text-align: center;
  border-left: 40px solid #7a7a7a;
  border-right: 40px solid #7a7a7a;
}

section
{
  width: 1300px;
  height: 1000px;
  margin: auto;
  margin-top: 150px;
  background-color: #E9C46A;
}
