@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body
{
  background-color: #DE7C5A;
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
}

header
{
  margin-top: -1%;
  margin-right: -0.3%;
  margin-left: -0.3%;
  height: 300px;
  background-image: url("ressources/entete.png");
  background-repeat: no-repeat;
  background-position: center;
}

nav
{
  position: fixed;
  width: 11%;
  height: 400px;
  margin-top: 30px;
  background-color: #29335C;
  opacity: 50%;
  transition: 0.4s;
  border-radius: 15px;
}

nav:hover
{
  transition: 0.6s;
  opacity: 100%;
}

.menu li
{
  list-style: none;
  margin-top: 50px;
  margin-left: 10px;
}

.menu a
{
  transition: 0.4s ease;
  background: #29335C;
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid #29335C;
  border-bottom: 4px solid #29335C;
  color: white;
}

.current
{
  color: rgb(92, 92, 92);
  font-size: 20px;
}

.menu a:hover
{
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 10px 0; 
}


#p_menu
{
  text-align: center;
  border-left: 40px solid white;
  border-right: 40px solid white;
  color: white;
}

a
{
  color: #DE7C5A;
}


section
{
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 150px;
  background-color: #29335C;
  color: white;
  border-radius: 15px;
  padding: 40px 40px;
}

section p 
{
  padding-left: 50px;
  padding-right: 50px;
}

section .img
{
  position: relative;
  margin-left: 35%;
}

section #ban
{
  margin-left: 1%;
}

section h1
{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}


footer
{
  position: relative;
  margin-top: 50px;
  text-align: center;
}

table
{
  font-family: 'Raleway', sans-serif;
  border-collapse: collapse;
  margin-left: 32%;
  background-color: #DE7C5A;
}
td, th
{
  border: 1px solid black;
  padding: 5px 5px;
  text-align: center;
}

