@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body
{
  background-color: #DE7C5A;
  font-family: 'Comfortaa', cursive;
  font-size: 17px;
}

header
{
  margin-top: -1%; /* Pour coller l'entête au bord supérieur de la page */
  margin-right: -0.3%;
  margin-left: -0.3%;
  height: 300px;
  background-image: url("ressources/entete.png");
  background-repeat: no-repeat;
  background-position: center;
}

nav
{
  position: fixed; /* Pour rendre le menu de navigation fixe par rapport à la fenêtre */
  width: 11%;
  height: 400px;
  margin-top: 30px;
  background-color: #29335C;
  opacity: 50%;
  transition: 0.4s; /* Rend le menu transparent à 50% avec un effet de transition */
  border-radius: 15px;
}

nav:hover
{
  transition: 0.6s;
  opacity: 100%; /* Rend le menu opaque quand la souris est dessus avec un effet de transition */
}

.menu li
{
  list-style: none;
  margin-top: 50px;
  margin-left: 10px;
}

.menu a
{
  transition: 0.4s ease;
  background: #29335C;
  border-top: 4px solid #29335C;
  border-bottom: 4px solid #29335C;
  font-size: 20px;
  text-decoration: none;
  color: white;
  /* Nous avons ajouté un effet de transition avec des bordures top et bottom de la même
  couleur que le background afin qu'elles soient inviisbles */ 
}

.menu a:hover
{
  border-top: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  padding: 10px 0;
  /* Quand la souris passe sur le menu, la bordure s'éloigne 
  en devenant blanche ce qui donne un effet dynamique */
}

.current
{
  color: rgb(92, 92, 92);
  font-size: 20px;
  /* Lien menant vers le menu de la page actuelle grisé pour qu'il ressorte par rapport
  aux autres */
}

#p_menu
{
  text-align: center;
  border-left: 40px solid white;
  border-right: 40px solid white;
  color: white;
}

a
{
  color: #DE7C5A;
}


section
{
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 150px;
  background-color: #29335C;
  color: white;
  border-radius: 15px; /* Arrondi les coins des bordures */
  padding: 40px 40px;
}

section p 
{
  padding-left: 50px;
  padding-right: 50px;
}

section .img
{
  position: relative;
  margin-left: 35%;
}

section #ban
{
  margin-left: 1%;
}

section h1
{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin: 0 auto 20px auto;
  border-bottom: 1px solid orange;
  width: 600px;
  border-radius: 1px;
  padding-bottom: 20px ;
  color: orange;
}

footer
{
  position: relative;
  margin-top: 50px;
  text-align: center;
}

table
{
  font-family: 'Raleway', sans-serif;
  border-collapse: collapse; /* Collapse colle les bordures des différents éléments du tableau */
  margin-left: 32%;
  background-color: #DE7C5A;
}
td, th
{
  border: 1px solid black;
  padding: 5px 5px;
  text-align: center;
}

.bye
{
  margin-top: 2%;
  text-align: center;
  font-size: 25pt;
}

#ban_bye
{
  margin-left: 9%;
}

#avis_site input
{
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
}

#avis_site select
{ 
  border: 1px solid #ddd ;
  border-radius: 5px;
}

#avis_site textarea 
{
  font-weight: bold;
  border-radius: 5px
}

#avis_site .bouton
{
  transition: 0.4s;
}

#avis_site .bouton:hover
{
  background-color:#DE7C5A;
  transition: 0.4s;
  transform:scale(1.1);
}

  /* Change la couleur et l'échelle du bouton quand la souris passe dessus avec
  un effet de transition */